* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Nunito Sans", sans-serif;
}


/*HEADER*/

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.page-header .container {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav-list {
    display: flex;
}

.page-nav-list li {
    margin-left:20px;
    list-style: none;
}
.page-nav-list a {
    text-transform: uppercase;
    color: #8E9696;
    font-weight: 600;
}
.page-nav-list a:hover {
    color: #213131;
}

.hamburger {
    display: none;
}


/*BANNER*/

.banner {
    height: 560px;
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.banner-title {
    font-size: 57px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}
.banner-title span {
    text-decoration: underline;
    font-weight: 900;
}
.banner-text {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.6;
}

/*ARTICLES*/

.page-content .container {
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}

.article {
    text-align: center;
    max-width: 280px;
}
.article-photo-img {
    width: 250px;
    height: auto;
    border-radius: 50%;
}

.article-title {
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px auto;
}
.article-text {
    color: #B0AEAB;
    margin-bottom: 30px;
}
.article-btn {
    padding: 15px 25px;
    border: 2px solid #F35044;
    color: #F35044;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
}

/*FOOTER*/

.page-footer {
    height: 180px;
    background: #F2F2F2;
}
.page-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.page-footer-nav-list {
    display: flex;
}

.page-footer-nav-list li {
    margin-left: 20px;
    list-style: none;
}
.page-footer-nav-list a {
    color: #8E9696;
}
.page-footer-nav-list a:hover {
    color: #F35044;
}
.page-footer-copyright {
    color: #B6B6B6;
    font-style: italic;
    margin-right: 20px;
}


@media only screen and (max-width: 1200px) {
    .page-header .container {
        padding-inline: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .page-nav {
        display: none;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 30px;
        right: -30px;
        z-index: 20;
    }

    .hamburger:checked ~ .page-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 35vw;
        height: 40vh;
        right: 0;
        color: white;
        background-color: rgba(0, 0, 0 , 0.5);
        z-index: 1;
    }

    .page-nav-list {
        flex-direction: column;
        padding-top: 50px;
    }

    .page-nav-list a {
        color: white;
        line-height: 60px;
    }

    .hamburger::before {
        position: absolute;
        font-size: 2rem;
        font-family: "Font Awesome 5 Free", sans-serif;
        content: "\f0c9";
        display: block;
        top: -8px;
        right: 55px;
        margin-bottom: 10px;
        font-weight: bold;
        color: black;
    }

    .banner {
        text-align: center;
    }

    .page-content .container {
        flex-direction: column;
        align-items: center;
    }

    .article {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 550px) {
    .page-footer-nav-list {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    .banner-title {
        font-size: 50px;
    }
    .banner-text {
        font-size: 18px;
    }
}
